{% extends "index.html" %}

{% set noindex = True %}

{% set subtitle -%}
{% markdown %}
Conditions générales de vente
{% endmarkdown %}
{% endset %}

{% block main %}

{% set back_to_site_title = "Retour au site" %}

{% include "partials/_cgv_nav.html" %}
{% include "partials/_header.html" %}

<section class="w-full p-6 mx-0 bg-gray-100 min-w-fit md">
{% markdown %}
### Conditions Générales de Vente

TODO

#### Hébergement :

Netlify, Inc., 2325 3rd Street, Suite 296, San Francisco, California 94107 United States

{% endmarkdown %}
</section>
{% endblock main %}
