
{%- set bg_colors = cycler("bg-gray-100", "bg-gray-200") -%}
{%- set flex_direction_testimonies = cycler("md:flex-row", "md:flex-row-reverse") -%}

{%- macro image(src, alt="", title="") -%}
<div class="flex-1 py-6 shrink-0 grow-0">
  <img class="object-cover w-full rounded-lg" src="{{ src }}" alt="{{ alt }}" title="{{ title }}">
</div>
{%- endmacro -%}

{%- macro image_col() -%}
<div class="flex flex-col justify-around flex-1 px-6 py-6 lg:px-12">
  {{ caller() }}
</div>
{%- endmacro -%}

{%- macro image_gallery(srcs) -%}
<div class="overflow-hidden">
  <div class="container mx-auto md:py-2 lg:pt-24 lg:px-32">
    <div class="flex flex-col flex-wrap -m-1 md:flex-row md:-m-2">
      <div class="flex flex-wrap md:w-1/2">
      {{ image("xxx", 2, "small") }}
      {{ image("xxx", 5, "small") }}
      {{ image("xxx", 3, "big") }}
      </div>
      <div class="flex flex-wrap md:w-1/2">
      {{ image("xxx", 4, "big") }}
      {{ image("xxx", 1, "big") }}
      </div>
    </div>
  </div>
</div>

{%- endmacro -%}

{%- macro image_url(kind, id) -%}/img/{{kind}}{{id}}.jpg{%- endmacro -%}

<!doctype html>
<html lang="fr">
{% include "partials/_head.html" %}
<body class="pt-16 text-gray-900 bg-gray-100 bg-cover sm:bg-center sm:bg-cover sm:bg-fixed sm:bg-hero" data-email-domain="{{ metadata.email_domain }}">

{% include "partials/_nav.html" %}
{% include "partials/_header.html" %}

<section class="flex flex-col w-full py-6 mx-0 lg:p-12 sm:p-6 md:flex-row min-w-fit {{ bg_colors.next() }}">
<div class="flex-1 px-6 py-6 text-center lg:px-12 md">
{% markdown %}
  ...
{% endmarkdown %}
</div>

{% call image_col() %}
    {{ image("src", "alt", "title") }}
{% endcall %}
</section>

<section class="flex flex-col w-full py-6 mx-0 lg:p-12 sm:p-6 md:flex-row-reverse min-w-fit {{ bg_colors.next() }}">
<div class="flex-1 px-6 py-6 text-justify lg:px-12 md">
    ...
</div>
{% call image_col() %}
{% endcall %}
</section>

<section class="w-full mx-0 min-w-fit {{ bg_colors.next() }}">
<div class="px-6 py-6 md:px-12 lg:px-24 md">{% block map_text %}{% endblock map_text %}</div>
<div class="md:px-20">
    <div id="map" class="w-full h-96"></div>
</div>
</section>

<section class="w-full py-6 mx-0 lg:p-12 sm:p-6 md:flex-row min-w-fit {{ bg_colors.next() }}">
<div class="flex flex-col md:flex-row">
    <div class="flex-1 px-6 py-6 text-justify lg:px-12 md">
      ...
    </div>
    {% call image_col() %}
    {% endcall %}
</div>

<div class="overflow-hidden">
    <div class="container mx-auto md:py-2 lg:pt-24 lg:px-32">
      <div class="flex flex-col flex-wrap -m-1 md:flex-row md:-m-2">
        <div class="flex flex-wrap md:w-1/2">
        </div>
        <div class="flex flex-wrap md:w-1/2">
        </div>
      </div>
    </div>
</div>
</section>

{% include "partials/_footer.html" %}
  <script src="/js/script.js"></script>
</body>
</html>
