{% extends "base.template.html" %}
{% block main %}

{%- set bg_colors = cycler("bg-gray-100", "bg-gray-200") -%}
{%- set flex_direction_testimonies = cycler("md:flex-row", "md:flex-row-reverse") -%}

{%- macro image(src, alt) -%}
<div class="flex-1 py-6 shrink-0 grow-0">
  <img class="object-cover w-full rounded-lg" src="{{ src }}" alt="{{ alt }}">
</div>
{%- endmacro -%}

{%- macro image_kind(kind, id, alt) -%}
{{image("/img/" ~ kind ~ id ~ ".jpg", kind)}}
{%- endmacro -%}

{%- macro image_col() -%}
<div class="flex flex-col justify-around flex-1 px-6 py-6 lg:px-12">
  {{ caller() }}
</div>
{%- endmacro -%}

{%- macro image_gallery(size, src, alt) -%}
<div class="w-full {% if size == 'small' %}md:w-1/2{% endif %} p-4 md:p-2">
  <img alt="{{ alt }}" class="block object-cover object-center w-full h-full rounded-lg"
    src="{{ src }}">
</div>
{%- endmacro -%}

{%- macro image_kind_gallery(kind, id, size) -%}
{{image_gallery(size, "/img/" ~ kind ~ id ~ ".jpg", kind)}}
{%- endmacro -%}

{%- macro image_url(kind, id) -%}/img/{{kind}}{{id}}.jpg{%- endmacro -%}

{% include "partials/_nav.html" %}
{% include "partials/_header.html" %}

<section class="flex flex-col w-full py-6 mx-0 lg:p-12 sm:p-6 md:flex-row min-w-fit {{ bg_colors.next() }}">
<div class="flex-1 px-6 py-6 text-center lg:px-12 md">
    {% block main_info %}
    {% endblock main_info %}
</div>

{% call image_col() %}
    {{ image_kind("horse", 1) }}
{% endcall %}
</section>
<section class="flex flex-col w-full py-6 mx-0 lg:p-12 sm:p-6 md:flex-row-reverse min-w-fit {{ bg_colors.next() }}">
<div class="flex-1 px-6 py-6 text-justify lg:px-12 md">
    {% block services_prices %}
    {% endblock services_prices %}
</div>
{% call image_col() %}
{{ image_kind("dog", 1) }}
{{ image_kind("cat", 1) }}
{{ image_kind("horse", 2) }}
{% endcall %}
</section>

<section class="w-full mx-0 min-w-fit {{ bg_colors.next() }}">
<div class="px-6 py-6 md:px-12 lg:px-24 md">{% block map_text %}{% endblock map_text %}</div>
<div class="md:px-20">
    <div id="map" class="w-full h-96"></div>
</div>
</section>

<section class="w-full py-6 mx-0 lg:p-12 sm:p-6 md:flex-row min-w-fit {{ bg_colors.next() }}">
<div class="flex flex-col md:flex-row">
    <div class="flex-1 px-6 py-6 text-justify lg:px-12 md">
    {% block about_me %}
    {% endblock about_me %}
    </div>
    {% call image_col() %}
    {{ image_kind("cat", 2) }}
    {% endcall %}
</div>

<div class="overflow-hidden">
    <div class="container mx-auto md:py-2 lg:pt-24 lg:px-32">
    <div class="flex flex-col flex-wrap -m-1 md:flex-row md:-m-2">
        <div class="flex flex-wrap md:w-1/2">
        {{ image_kind_gallery("manon", 2, "small") }}
        {{ image_kind_gallery("manon", 5, "small") }}
        {{ image_kind_gallery("manon", 3, "big") }}
        </div>
        <div class="flex flex-wrap md:w-1/2">
        {{ image_kind_gallery("manon", 4, "big") }}
        {{ image_kind_gallery("manon", 1, "big") }}
        </div>
    </div>
    </div>
</div>
</section>

<section class="w-full py-6 mx-0 lg:p-12 sm:p-6 min-w-fit {{ bg_colors.next() }}">
<div class="flex flex-col {{ flex_direction_testimonies.next() }}">
    <div class="flex-1 px-6 py-6 text-justify lg:px-12 md">
    {% block testimonies_t1 %}
    {% endblock testimonies_t1 %}
    </div>
    {% call image_col() %}
    {{ image_kind("horse", 3) }}
    {% endcall %}
</div>

<div class="flex flex-col {{ flex_direction_testimonies.next() }}">
    <div class="flex-1 px-6 py-6 text-justify lg:px-12 md">
    {% block testimonies_t2 %}
    {% endblock testimonies_t2 %}
    </div>
    {% call image_col() %}
    {{ image_kind("horse", 4) }}
    {% endcall %}
</div>

<div class="flex flex-col {{ flex_direction_testimonies.next() }}">
    <div class="flex-1 px-6 py-6 text-justify lg:px-12 md">
    {% block testimonies_t3 %}
    {% endblock testimonies_t3 %}
    </div>
    {% call image_col() %}
    {{ image_kind("horse", 5) }}
    {% endcall %}
</div>

<div class="flex flex-col {{ flex_direction_testimonies.next() }}">
    <div class="flex-1 px-6 py-6 text-justify lg:px-12 md">
    {% block testimonies_t4 %}
    {% endblock testimonies_t4 %}
    </div>
    {% call image_col() %}
    {{ image_kind("horse", 6) }}
    {% endcall %}
</div>

<div class="flex flex-col {{ flex_direction_testimonies.next() }}">
    <div class="flex-1 px-6 py-6 text-justify lg:px-12 md">
    {% block testimonies_t5 %}
    {% endblock testimonies_t5 %}
    </div>
    {% call image_col() %}
    {{ image_kind("horse", 7) }}
    {% endcall %}
</div>

<div class="flex flex-col {{ flex_direction_testimonies.next() }}">
    <div class="flex-1 px-6 py-6 text-justify lg:px-12 md">
    {% block testimonies_t6 %}
    {% endblock testimonies_t6 %}
    </div>
    {% call image_col() %}
    {{ image_kind("horse", 8) }}
    {% endcall %}
</div>

<div class="flex flex-col {{ flex_direction_testimonies.next() }}">
    <div class="flex-1 px-6 py-6 text-justify lg:px-12 md">
    {% block testimonies_t7 %}
    {% endblock testimonies_t7 %}
    </div>
    {% call image_col() %}
    {{ image_kind("dog", 2) }}
    {% endcall %}
</div>

<div class="flex flex-col {{ flex_direction_testimonies.next() }}">
    <div class="flex-1 px-6 py-6 text-justify lg:px-12 md">
    {% block testimonies_t8 %}
    {% endblock testimonies_t8 %}
    </div>
    {% call image_col() %}
    {{ image_kind("dog", 3) }}
    {% endcall %}
</div>

<div class="flex flex-col {{ flex_direction_testimonies.next() }}">
    <div class="flex-1 px-6 py-6 text-justify lg:px-12 md">
    {% block testimonies_t9 %}
    {% endblock testimonies_t9 %}
    </div>
    {% call image_col() %}
    {{ image_kind("horse", 9) }}
    {% endcall %}
</div>

</section>

<section class="overflow-hidden py-6 {{ bg_colors.next() }}" id="{{ photos_tag }}">
<div class="container mx-auto md:py-2 lg:pt-24 lg:px-32">
    <div class="flex flex-col flex-wrap -m-1 md:flex-row md:-m-2">
    <div class="flex flex-wrap md:w-1/2">
        {{ image_kind_gallery("gallery", 1, "small") }}
        {{ image_kind_gallery("gallery", 2, "small") }}
        {{ image_kind_gallery("gallery", 3, "big") }}
        {{ image_kind_gallery("gallery", 4, "small") }}
        {{ image_kind_gallery("gallery", 5, "small") }}
        {{ image_kind_gallery("gallery", 6, "big") }}
        {{ image_kind_gallery("gallery", 7, "small") }}
        {{ image_kind_gallery("gallery", 8, "small") }}
        {{ image_kind_gallery("gallery", 9, "big") }}
        {{ image_kind_gallery("gallery", 10, "small") }}
        {{ image_kind_gallery("gallery", 11, "small") }}
        {{ image_kind_gallery("gallery", 12, "big") }}
        {{ image_kind_gallery("gallery", 13, "small") }}
        {{ image_kind_gallery("gallery", 14, "small") }}
        {{ image_kind_gallery("gallery", 15, "big") }}
        {{ image_kind_gallery("gallery", 16, "small") }}
        {{ image_kind_gallery("gallery", 17, "small") }}
        {{ image_kind_gallery("gallery", 18, "big") }}
        {{ image_kind_gallery("gallery", 19, "big") }}
        {{ image_kind_gallery("gallery", 20, "big") }}
    </div>
    <div class="flex flex-wrap md:w-1/2">
        {{ image_kind_gallery("gallery", 23, "big") }}
        {{ image_kind_gallery("gallery", 24, "small") }}
        {{ image_kind_gallery("gallery", 25, "small") }}
        {{ image_kind_gallery("gallery", 26, "big") }}
        {{ image_kind_gallery("gallery", 27, "small") }}
        {{ image_kind_gallery("gallery", 28, "small") }}
        {{ image_kind_gallery("gallery", 29, "big") }}
        {{ image_kind_gallery("gallery", 30, "big") }}
        {{ image_kind_gallery("gallery", 31, "small") }}
        {{ image_kind_gallery("gallery", 32, "small") }}
        {{ image_kind_gallery("gallery", 33, "big") }}
        {{ image_kind_gallery("gallery", 34, "small") }}
        {{ image_kind_gallery("gallery", 35, "small") }}
        {{ image_kind_gallery("gallery", 36, "big") }}
        {{ image_kind_gallery("gallery", 37, "small") }}
        {{ image_kind_gallery("gallery", 38, "small") }}
        {{ image_kind_gallery("gallery", 39, "big") }}
        {{ image_kind_gallery("gallery", 21, "small") }}
        {{ image_kind_gallery("gallery", 22, "small") }}
        {{ image_kind_gallery("gallery", 40, "big") }}
    </div>
    </div>
</div>
</section>

{% set map_data = {
"token": map_token,
"center": [46.0081922, 0.7779249],
"radius": 25000,
"init": [46.0081922, 0.7779249],
"initZoom": 9,
} %}
<script id="map-data" type="application/json">{{ map_data | tojson }}</script>

{% endblock main %}
